{% extends 'agenda/base.html' %}

{% block content %}
    <div align="Right">
        <a href="/lista">&#8678; Voltar</a>
    </div>
    <div class="page-header">
        <h2>&#128221; Nova Tarefa</h2>
    </div>
    <form action="." method="POST">
        {% csrf_token %}
        {% if form.non_field_erros %}
        <div class="alert alert-danger">
            {{ form.non_field_erros }}
        </div>
        {% endif %}
        {% for field in form %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}" class="label-control">
                    {{ field.label }}
                    {% if field.field.required %}*{% endif %}
                </label>
                <br>
                    {{ field }}
                    {% if field.erros %}
                <div class="alert alert-danger">{{ field.erros }}</div>
                {% endif %}
            </div>
        {% endfor %}
    <button type="submit" class="btn btn-primary">Criar</button>
    </form>
    <script>
        $("input").addClass("form-control");
        $("textarea").addClass("form-control");
        $("input[type=checkbox]").removeClass("form-control");
    </script>
{% endblock %}