{% extends 'agenda/base.html' %}

{% block content %}
    <div align="Right">
        <a href="/lista">&#8678; Voltar</a>
    </div>
    <div class="page-header">
        <h2>&#128221; Nova Tarefa</h2>
    </div>
    <form action="submit" method="POST">{% csrf_token %}
        <label>Nome da Tarefa</label>
        <br>
        <input type="text" name="nome" size="22" value="{{ evento.nome }}">
        <br>
        <label>Data da Criação</label>
        <br>
        <input type="datetime-local" name="data_de_criacao" value="{{ evento.get_data_input_evento }}" required>
        <br>
        <label>Descrição</label>
        <br>
        <textarea name="descricao" rows="5" cols="24" required style="width: 400px; height: 150px; resize: none;">{{ evento.descricao }}</textarea>
        <br><br>
        <button type="submit" class='btn btn-primary'>Salvar</button>
    </form>
{% endblock %}